@import "../../global.less";
// 颜色定义规范
@base: 0.0416;
@color-background:#222;
@color-background-d:rgba(0, 0, 0, 0.3);
@color-highlight-background:#333;
@color-dialog-background:#666;
@color-theme:#ffcd32;
@color-theme-d:rgba(255, 205, 49, 0.5);
@color-sub-theme:#d93f30;
@color-text:#fff;
@color-text-d:rgba(255, 255, 255, 0.3);
@color-text-l:rgba(255, 255, 255, 0.5);
@color-text-ll:rgba(255, 255, 255, 0.8);
//字体定义规范
@font-size-small-s: @base*20rem;
@font-size-small: @base*24rem ;
@font-size-medium: @base*28rem;
@font-size-medium-x: @base*32rem;
@font-size-large: @base*36rem;
@font-size-large-x: @base*44rem;
/*ul{
  margin:0;
  padding:0;
}*/
.defaultHeight{
  height:calc(100%- @base*90rem - @base*44rem)
}
.hotCityList{
  text-align: left;
  font-size: .75rem;
  padding: .2rem .7rem;
  .caseCitySpan{
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    margin: .2rem 0;
    text-align: center;
    display: inline-block;
    width: 27%;
    margin-right: 4%;
    overflow: hidden;
    /*height: @base*25rem;*/
    line-height: @base*25rem;
    font-size: @font20;
  }
}
ul{
  margin:0;
  padding:0;
}
ul li{
  list-style: none;
}

.positionAdress{
  display: flex;
  padding: 0 @base*30rem;
  height: 2.2rem;
  justify-content: space-between;
  align-items: center;
  .locationIocn{
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-image: url(../../assets/img/gai_location.png);
    background-repeat: no-repeat;
    background-size: 100%;
    vertical-align: middle;
  }
}

.listview {

  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
  overflow: auto;
  color: #3e3e3e;
  padding-bottom: 50px;
  .list-group {
    h2{
      margin:0;
    }
   /* padding-bottom: @base*40rem;*/
    ul{
      padding-left: @base*20rem;
      >:last-child{
        border-bottom: none !important;
      }
    }
    .list-group-title {
      height: @base*40rem;
      line-height: @base*40rem;
      padding-left: @base*20rem;
      font-size: .75rem;
      background: #ecf0f4;
      color: #3e3e3e;
    }
    .list-group-item{
      display: flex;
      align-items: center;
      -webkit-align-items: center;
      border-bottom: 1px solid #f5f5f5;
      height: 2.2rem;
      .avatar{
        width: @base*68rem;
        height: @base*68rem;
        border-radius: 50%;
      }
      .name{
        margin-left: @base*10rem;
        color:#3e3e3e;
        font-size:14px;
      }
    }
  }


}

.list-fixed{
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  .fixed-title{
    height: @base*40rem;
    line-height: @base*40rem;
    padding-left: @base*20rem;
    font-size: @font-size-small;
    color: @color-text-l;
    background: @color-highlight-background;
  }
}
.loading-container{
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.list-shortcut{
  position: absolute;
  z-index: 30;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: @base*40rem;
  padding: @base*20rem 0;
  border-radius: @base*10rem;
  text-align: center;
  background: @color-background-d;
  font-family: 'Helvetica';
  color:rgba(255, 255, 255, 0.5);
  .item{
    padding: @base*6rem;
    line-height: 1;
    color: @color-text-l;
    font-size: 14px;
  }
  .current{
    color: @color-theme
  }
}


.bar{
  position: relative;
  right: 0;
  left: 0;
  z-index: 10;
  height: 2.2rem;
  padding-right: .5rem;
  padding-left: .5rem;
  background-color: #ecf0f4;
  backface-visibility: hidden;
}
.bar .searchbar{
  padding: .4rem .5rem;
  margin: 0 -.5rem;
}
.bar .icon{
  position: relative;
  z-index: 20;
  padding: .5rem .1rem;
  font-size: 1rem;
  line-height: 1.2rem;
}
.bar .searchbar .search-input input{
  border: 0;
  height: 1.4rem;
  margin: 0;
  padding-left: 1.4rem;
  display: block;
  width: 100%;
  box-sizing: border-box;
  -webkit-appearance: none;
  padding: 0 .5rem;
  font-family: inherit;
  font-size: .7rem;
  font-weight: 400;
  color: #3d4145;
  background-color: #fff;
  border-radius: .25rem;
  outline: 0;
}
.search-input .icon-close{

  /*left: auto;*/
  width: .8rem;
  background: url(../../assets/img/close.png) 50% no-repeat;
  background-size: contain;
}
.searchbar{
  height: 2.2rem;
  align-items: center;
  -webkit-box-align: center;
  box-sizing: border-box;
}
.searchbar .search-input{
  transition: none;
  margin-right: 0;
  transform: translate3d(0,0,0);
  position: relative;
}
.search-input .icon{
  position: absolute;
  top: 50%;
  /*left: .3rem;*/
  font-size: .9rem;
  right: .3rem;
  color: #b4b4b4;
  transform: translate3D(0,-50%,0);
}
//searchBar
.searchbar .searchbar-cancel {
  display: none;
  transition: none
}

.searchbar .search-input {
  transition: none
}

.searchbar.searchbar-active .searchbar-cancel {
  display: block
}


.loading{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.4);
  position: absolute;
  z-index: 1000;
  top: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
