@import "../../global.less";
@color-background:#222;
@color-background-d:rgba(0, 0, 0, 0.3);
@color-highlight-background:#333;
@color-dialog-background:#666;
@color-theme:#ffcd32;
@color-theme-d:rgba(255, 205, 49, 0.5);
@color-sub-theme:#d93f30;
@color-text:#fff;
@color-text-d:rgba(255, 255, 255, 0.3);
@color-text-l:rgba(255, 255, 255, 0.5);
@color-text-ll:rgba(255, 255, 255, 0.8);
//字体定义规范
@font-size-small-s: @base*20rem;
@font-size-small: @base*24rem ;
@font-size-medium: @base*28rem;
@font-size-medium-x: @base*32rem;
@font-size-large: @base*36rem;
@font-size-large-x: @base*44rem;
/*ul{
  margin:0;
  padding:0;
}*/
.defaultHeight{
  height:calc(100%- @base*90rem - @base*44rem)
}
.hotCityList{
  text-align: left;
  font-size: .75rem;
  padding: .2rem .7rem;
  .caseCitySpan{
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    margin: .2rem 0;
    text-align: center;
    display: inline-block;
    width: 27%;
    margin-right: 4%;
    overflow: hidden;
    /*height: @base*25rem;*/
    line-height: @base*25rem;
    font-size: @font20;
  }
}
ul{
  margin:0;
  padding:0;
}
ul li{
  list-style: none;
}

.positionAdress{
  display: flex;
  padding: 0 @base*30rem;
  height: 2.2rem;
  justify-content: space-between;
  align-items: center;
  padding-right: @base*80rem;
  .locationIocn{
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-image: url(../../assets/img/gai_location.png);
    background-repeat: no-repeat;
    background-size: 100%;
    vertical-align: middle;
  }
}

.listview {

  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
  overflow: auto;
  color: #3e3e3e;
  padding-bottom: 50px;
  .list-group {
    h2{
      margin:0;
    }
   /* padding-bottom: @base*40rem;*/
    ul{
      padding-left: @base*20rem;
      >:last-child{
        border-bottom: none !important;
      }
    }
    .list-group-title {
      height: @base*60rem;
      line-height: @base*60rem;
      padding-left: @base*20rem;
      font-size: .75rem;
      background: #ECF0F4;
      color: #3e3e3e;
    }
    .list-group-item{
      display: flex;
      align-items: center;
      -webkit-align-items: center;
      border-bottom: 1px solid #f5f5f5;
      height: 2.2rem;
      .avatar{
        width: @base*68rem;
        height: @base*68rem;
        border-radius: 50%;
      }
      .name{
        margin-left: @base*10rem;
        color:#3e3e3e;
        font-size:14px;
      }
      .parentRegion{
        padding-left: @base*40rem;
        color: #adadad;
      }
    }
  }


}

.list-fixed{
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  .fixed-title{
    height: @base*40rem;
    line-height: @base*40rem;
    padding-left: @base*20rem;
    font-size: @font-size-small;
    color: @color-text-l;
    background: @color-highlight-background;
  }
}
.loading-container{
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.list-shortcut{
  position: absolute;
  z-index: 30;
  right: 0;
  top: 45%;
  transform: translateY(-50%);
  /*width: @base*40rem;*/
  padding: @base*20rem 0;
  border-radius: @base*10rem;
  text-align: center;
 /* background: @color-background-d;*/
  font-family: 'Helvetica';
  /*color:rgba(255, 255, 255, 0.5);*/
  color: #3E3E3E;

  .item{
    padding: 10% 0;
    line-height: 1;
    color: #3E3E3E;
    font-size: @base*18rem;
  }

  .current{
    color: @color-theme
  }
}

.city-search{
  width: 94%;
  margin: @base*20rem auto @base*20rem auto;
  background: #fff;
  height: @base*70rem;
  line-height: @base*70rem;
  box-sizing: border-box;
  padding: 0 @base*15rem;
  position: relative;
  border-radius: @base*10rem;
  .icon-search{
    font-size:@base *23rem;
    height:100%;
    display: inline-block;
    line-height: @base*64rem;
    color:#949494;
    i{
      vertical-align: middle;
    }
  }
  .icon-close{
    height:100%;
    position: absolute;
    right:0;
    width: @base*80rem;
    text-align: center;
    display: inline-block;
    color:#CCCCCC;
  }
  input{
    height: 100%;
    border:none;
    outline: none;
    font-size: @font26;
    padding-left:4px;
    width: 90%;
  }
}



.showAZ {
  position: fixed;
  z-index: 30;
  right: 1.6rem;
  background: rgba(0, 0, 0, .6);
  height: 2rem;
  width: 2rem;
  color: #fff;
  text-align: center;
  line-height: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 5px;
  font-family: Helvetica;
}


.ui-standard-top{
  height:100%;
  position:absolute;
  width: 100%;
  z-index:1000;
  background: #fff;
  top: @base*205rem;
  ul{
    li{
      line-height: 2.2rem;
      text-align: left;
      font-size: .75rem;
      color: #3e3e3e;
      p{
        margin: 0;
        margin-left: .5rem;
        border-bottom: .333px solid #f5f5f5;
        i{
          color: #0d87e4;
          font-style: normal;
        }
        .cityName_car{
          padding-left: 1rem;
          color: #adadad;
        }
      }
    }
  }
  .cityList-li{
    height: 30px;
    line-height:  30px;
    margin-left: .5rem;
    border-bottom: 1px solid #f5f5f5;
  }
}
