@import "../../assets/css/var";
//景区门票列表selectBarModel

  .ticketsList{
    height: @base*300rem;
    border-radius: 8px;
    position: relative;
    color: #fff;
    margin-bottom: @base*30rem;
    img{
      height: 100%;
      width: 100%;
    }
    >div{
      position: absolute;
      bottom:0;
      width: 100%;
      padding: 0 @base*20rem;
      box-sizing: border-box;
      padding-bottom: @base*20rem;
      p{
        padding-bottom: @base*16rem;
      }
      >div{
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
    }
  }
