@import "../../assets/css/var";
//景区门票列表selectBarModel

  .ticketsList{
    height: @base*300rem;
    border-radius: 8px;
    position: relative;
    color: #fff;
    margin-bottom: @base*30rem;
    img{
      height: 100%;
      width: 100%;
    }
    >div{
      position: absolute;
      bottom:0;
      width: 100%;
      padding: 0 @base*20rem;
      box-sizing: border-box;
      padding-bottom: @base*16rem;
      background:linear-gradient(87deg,rgba(0,0,0,0.6),rgba(0,0,0,0));
      p{
        padding-bottom: @base*8rem;
        font-size: @font36;
        color: #fff;
      }
      .remarks{
        color: #ccc;
        font-size: @font24;
      }
      >div{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
