@import "../../assets/css/var";
.selectModelContent{
  position:fixed;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
  top:@base*194rem;
  z-index:10000;
  overflow: hidden;
  /*height: calc(100% - @base*340rem);*/
  .selectModelListArr{
    background: #fff;
    max-height: 63%;
    overflow-y: auto;
    .selectModelList-single{
      padding: 0 @base*30rem;
      height: @base*100rem;
      font-size: @font30;
      color:#3E3E3E;

      >div{
        display: flex;
        display:-webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        border-bottom: @base*1rem solid #E5E5E5;
        .checked{
          width: @base*26rem;
          height:@base*20rem;
          background: url("../../assets/img/cityChecked.png") no-repeat;
          background-size: cover;
        }
      }


    }
    .active{
      background: #F2F2F7 ;
      color:#37A0F1;
      >div{
        border:none;
      }
    }
  }
}
