@import "../../global.less";

.ticketDetailContent{
  height: 100%;
  width: 100%;
  .ticketTop{
    position: relative;
    height: @base*300rem;
   /* overflow: hidden;*/

    .leftBtnCircle{
      display: inline-block;
      width:@base*56rem;
      height:@base*56rem;
      line-height: @base*56rem;
      background:rgba(0,0,0,.2);
      color: #fff;
      border-radius: 50%;
      text-align: center;
      font-size: @font40;
      i{
        height: 100%;
        width: 100%;
        vertical-align: top;
        line-height: @base*56rem;
      }
    }
    .swiper-bottom{
      max-height: @base*72rem;
      width:100%;
      background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.3),rgba(255,255,255,0));
      color: #fff;
      position: absolute;
      bottom:0;
      padding-bottom: @base*20rem;
      font-size: @font28;
      >div{
        display: flex;
        width:100%;
        height:100%;
        box-sizing: border-box;
        padding:0 @base*30rem;
        justify-content: center;
        align-items: center;
        >:first-child{
          text-align: left;
          flex:2;
          width:100%;
          height:100%;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          justify-content: center;
          >div{
            word-break: break-all;
            text-overflow: ellipsis;
            display: -webkit-box !important; /** 对象作为伸缩盒子模型显示 **/
            -webkit-line-clamp: 2 !important; /** 显示的行数 **/
            overflow: hidden; /** 隐藏超出的内容 **/
          }
        }
        >:last-child{
          text-align: right;
          flex:1;
          height:100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          overflow: hidden;
        }
      }
    }
  }
  .defaultHeight{
    height: calc(100% - @base*410rem);
  }
}
//定位地址
.ticketAddress{
  display: flex;
  justify-content: space-between;
  height:@base*90rem;
  align-items: center;
  background: #fff;
  padding: 0 @base*30rem;
  margin-bottom: @base*20rem;
  >:first-child{
    color:#949494;
    font-size:@font24;
    display: flex;
    align-items: center;
    height:100%;
    flex:2;
    overflow: hidden;
    .address_Icon{
      width: @base*30rem;
      height: @base*30rem;
      background: url("../../assets/img/ico_address@2x.png")no-repeat;
      background-size: cover;
    }
    >:last-child{
      padding-left: @base*20rem;
      width:90%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  >:nth-child(2){
    max-width:@base*100rem;
    height:48%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #E6E6E6;
    justify-content: center;
    align-items: flex-end;
    padding-right: @base*20rem;
    box-sizing: border-box;
    flex:1;
    .ticketDetail_phone{
      width: @base*28rem;
      height: @base*30rem;
      background: url("../../assets/img/ico_phone@2x.png") no-repeat;
      background-size: cover;
    }
  }
}
.carousel{
  height:100% !important;
  .am-carousel{
    height:100% !important;
  }
  .slider-list{
    height: @base*300rem !important;
  }
  .swiper-single-a{
    img{
      width:100%;
      height: @base*300rem;
    }
  }
}


//card样式
.card{
  width: 100%;
  background: #fff;
  padding: 0 @base*30rem;
  box-sizing: border-box;
  margin-bottom: @base*20rem;
  .card-Title{
    width:100%;
    height: @base*80rem;
    line-height: @base*80rem;
    color: #2b2b2b;
    border-bottom: 1px solid #E5E5E5;
    font-size: @base*28rem;
    display: flex;
    align-items: center;
    .card-title-leftIcon{
      width: @base*4rem;
      height: @base*28rem;
      background: #37A0F1;
      margin-right: @base*10rem;
    }
  }
  .card-content{
    width:100%;
    height: auto;
  }
}

//门票
.door-ticketList-single{
  display: flex;
  justify-content: space-between;
  height: @base*150rem;
  width: 100%;
  box-sizing: border-box;
  &.borderBottom{
    border-bottom: 1px solid #E5E5E5;
  }
  >:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: @base*33rem 0;
    overflow: hidden;
    flex: 3;
    width: 90%;
    >:first-child{
      white-space: nowrap;
      width: 94%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  >:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    .ticket-buy{
      width: @base*140rem;
      height: @base*60rem;
      background: #F48831;
      color: #fff;
      font-size: @font24;
      border-radius: @base*4rem;
      line-height: @base*60rem;
      text-align: center;
    }
  }
}

//card中的文本显示
.card-content-text{
  padding:@base*30rem 0;
  font-size:@font24;
  color: #949494;
}
//单行box显示
.line-box{
  width: 100%;
  height: @base*100rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0 @base*30rem;
  box-sizing: border-box;
  >:first-child{
    .line-leftBox-icon{
      display: inline-block;
      width: 0.1rem;
      height: 0.7rem;
      background: #37A0F1;
      margin-right: 0.25rem;
      vertical-align: middle;
    }
  }
  >:last-child{
    i{
      padding-left:@base*20rem;
    }
  }
}

//悬浮起来的 model
.ticketDetail_model{
  height:100%;
  width:100%;
  position: fixed;
  z-index:1;
  top:0;

  .model{
   /* position:absolute;
    top:0;*/
    height: 100%;
    width: 100%;
    background: rgba(29, 28, 28, 0.48);
  }
  .ticketDetail_model_show{
    position: absolute;
    bottom:0;
    width: 100%;
    z-index: 2;
    background: #fff;
    height:66%;

    .detail_title{
      display: flex;
      height: @base*125rem;
      align-items: center;
      /*justify-content: space-between;*/
      padding-left: @base*30rem;
      font-size: @font30;
      color:#333333;
      /*padding-bottom: @base*36rem;*/
      >:first-child{
      /*  height: @base*160rem;*/
        position: relative;
        width: 21%;
        box-sizing: border-box;
        height:100%;
        min-width: @base*160rem ;
        >div{
          position:absolute;
          height: @base*160rem;
          width: @base*160rem;
          box-sizing: border-box;
          top:-@base*40rem;
          padding: @base*5rem;
          background: #fff;
          border: @base*1rem solid #E6E6E6;
        }
        img{
          width: @base*150rem;
          height: @base*150rem;
        }
      }
      >:last-child{
        width:76%;
        height:100%;
        padding-left:@base*30rem;
        box-sizing: border-box;
        padding-right: @base*76rem;
        padding-top: @base*30rem;
        div{
         /* height:@base*80rem;*/
          width:100%;
          word-break: break-all;
          text-overflow: ellipsis;
          display: -webkit-box !important; /** 对象作为伸缩盒子模型显示 **/
          -webkit-line-clamp: 2 !important; /** 显示的行数 **/
          overflow: hidden; /** 隐藏超出的内容 **/
        }
      }
    }
    .close{
      position: absolute;
      right:0;
      font-size:@font36;
      margin-top:@base*30rem;
      padding: 0  @base*20rem @base*20rem  @base*20rem;
      .closeBtn{
        width: @base*28rem;
        height: @base*28rem;
        background: url("../../assets/img/btn_delete@2x.png") no-repeat;
        background-size: cover;
      }
    }
    .writeOrder_detail_content{
      .ticketDetial-cardContent{
        >div{
          display: flex;
          font-size: @font24;
          color:#949494;
          margin-bottom: @base*22rem;
          >:first-child{
            margin-right: @base*16rem;
          }

        }
        border-bottom: 1px solid #E5E5E5;
        >:last-child{
          margin-bottom: 0;
        }
        padding-bottom: @base*30rem;
      }
      >:last-child{
        .ticketDetial-cardContent{
          border-bottom: none;
        }
      }
    }

    .defaultHeight_detail{
      height: calc(100% - @base*156rem);
    }
  }
  .writerOrder-btn{
    height:@base*100rem;
    position: absolute;
    bottom:0;
    width: 100%;
    >div{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width:100%;
      background: #fff;
      box-sizing: border-box;
      height:@base*100rem;

      &>:first-child{
        flex: 2;
        padding-left: @base*30rem;
        line-height:@base*100rem;
        border-top: 1px solid #E5E5E5;
      }
      &>:last-child{
       /* flex: 1;*/
        height:100%;
        width: @base*310rem;
        background: #F48831;
        text-align: center;
        color: #fff;
        line-height:@base*100rem;
        border-top: 1px solid #F48831;
      }
    }
  }
  .mangBtn{
    width:100%;
    position: absolute;
    bottom:@base*20rem;
    .btns{
      width: @base*690rem;
      margin: 0 auto;
      .btn{
        width: 100%;
        height: @base*100rem;
        color:#48AAF5;
        font-size: @font36;
        line-height: @base*100rem;
        margin-top: @base*10rem;
        background: #fff;
        text-align: center;
        border-radius: @base*10rem;
        a{
          display: inline-block;
          width: 100%;
          height: 100%;
          color:#48AAF5;
        }
      }
    }

  }
}


