@base: 0.025;
@font24: @base*24rem;
@font20:@base*20rem;
@font34:@base*34rem;
@font40:@base*40rem;
@font28: @base*28rem;

.font20{font-size:@font20}
.font24{font-size:@font24}
.font28{font-size:@font28}
.font34{font-size:@font34}
.font40{font-size:@font40}

.color_fff {color: #fff}
.color_F60{color: #FF6600}
.color_CCC{color: #ccc;}
.color_94{color: #949494;}
.color_3e{color: #3e3e3e;}
.color_F48831{color: #F48831;}
