@import "../assets/css/var";
.container_page{
  height:100%;
  width: 100%;
  .index_banner_img{
    height: @base*340rem;
    position:relative;
    box-sizing: border-box;
    img{
      width: 100%;
      height:100%;
    }
  }
}

.index_page{
    position:relative;
    height:100%;
    width: 100%;
  .wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .wrapper_content{
      li{
        list-style:none;
        width:100%;
        text-align:center;
        color:#000;
      }
    }
  }
}
//为景点列表设置container
.ticketsListArr {
  /*position: relative;*/
  padding: @base*20rem @base*20rem;
  /*width: 100%;
  box-sizing: border-box;*/
  /*.loading{
    background: #fff;
    position: absolute;
    width: 94.6%;
    height:100%;
    top: @base*30rem;
    left: @base*20rem;
    min-height:@base*880rem;
  }*/

}

.headerCityName{
  text-overflow: ellipsis;
  padding-right: 4px;
  display: inline-block;
  width: 74%;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}

.loading-fullScreen{
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0);
  position: fixed;
  z-index: 1;
}
.loading{
  background: #fff;
  width: 94%;
  height:100%;
  margin:@base*20rem auto;
  min-height: 807px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: @base*300rem;
  .loading-icon{
    width: @base*162rem;
    height: @base*162rem;
    background: url("../assets/img/tuanzi@2x.png") no-repeat;
    background-size: cover;
  }
  .loading-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: @base*21rem;
    .loading-left{
      width: @base*28rem;
      height: @base*28rem;
      background: url("../assets/img/stationlistLoad.png") no-repeat;
      background-size: cover;
    }
    >:nth-child(2){
      color:#2C9AF5;
      font-size: @font28;
      padding-left: @base*10rem;
    }
  }
}





