@import "../../assets/css/var";
//header 组件开发
.header-parent{
  position:relative;
  width: 100%;
  height: @base*90rem;
  .common{
    background: #0D87E4;
  }
  .transparent{
    background: rgba(255,255,255,0.3);
  }
  .light{
    background: #fff;
  }
  .none{
    background: none;
  }
  .colorE6e6e6{
    background: #e6e6e6;
  }

  .header-common{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    .left-header{
      min-width: 14%;
      flex:1;
      box-sizing: border-box;
      padding-left:@base*32rem;
    }
    .center-header{
      min-width: 63%;
      flex:2;
      box-sizing: border-box;
    }
    .right-header{
      min-width: 26%;
      flex:1;
      text-align: right;
      padding-right: @base*30rem;
      box-sizing: border-box;
    }
  }
}

.positionAbolute{
  position: absolute;
  z-index:1;
}
.positionFixed{
  position: fixed;
  z-index:1;
}
//header中间的search
.search-input{
  height: @base*60rem;
  width: 100%;
  background: #f5f5f9;
  border-radius: 30px;
  padding-left: @base*24rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  i{
    color: #fff;
    font-size: 1rem;
    color: #BFBFBF;
    vert-align: middle;
  }
  input{
    font-size: @base*28rem;
    height: 100%;
    width: calc(100% - 16);
    border: none;
    outline:none;
    background: none;
    vert-align: middle;
    padding-left: @base*10rem;
  }
}
