
@import '../../assets/css/var';
.searchTicketList{
  height:100%;
  .searchHeader{
    display: flex;
    display:-webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    height: @base*90rem;
    background: #fff;
    .search-left{
      width:12%;
      line-height: @base*90rem;
      text-align: center;
      font-size: @base*42rem;
      display: flex;
      display:-webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .search-input{
      width:84%;
      position:relative;
      line-height: @base*90rem;
      .search-icon{
        position:absolute;
        height:100%;
        width:@base*72rem;
        text-align: center;
        /*font-size: @base*32rem;*/
        color:#BFBFBF;
        display: flex;
        display:-webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        >.icon{
          height: @base*32rem;
          width: @base*32rem;
          background: url("../../assets/img/btn_search.png") no-repeat;
          background-size: 100% 100%;
        }

      }
      input{
        padding-left:@base*72rem;
        height: @base*60rem;
        width: 100%;
        border: none;
        background: #F2F2F7;
        color:#3E3E3E;
        box-sizing: border-box;
        outline:none;
        border-radius:@base*30rem;
        font-size:@font28;
      }
      .search-input-close{
        position:absolute;
        right:0;
        height:100%;
        width:@base*72rem;
        text-align: center;
        font-size: @base*32rem;
        top: 0;
        font-size: @font40;
        color:#CCCCCC;
      }
    }
  }
  .orderList{
    padding: @base*20rem @base*20rem 0;
  }
  .searchTicketList{
    position: relative;
    box-sizing: border-box;
    height:calc(100% - @base*190rem);
    padding-bottom:@base*100rem;
  }
}
.defaultHeight{
  height: calc(100% - @base*90rem);
}




